.hide{
    display: none;
}

#quizbox{
    margin-top: 20px;
    margin-left: 25%;
}

#result{
    margin-top: 40px;
}

.btn{
    color: white;
    font-size: 45px;
    background-color: #525252;
    border-color: #ffffff;
    width: 75px;
    height: 75px;
}

#container{
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
}
.btnSize{
    width: 75px;
    height: 75px;
}
#next{
    font-size: 20px;
    height: 50px;
}

#start{
    margin-left: 35%;
    font-size: 30px;
    width: 200px;
}
